<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/1">Blog</a>
            <% if(lang == 1) {%>
                        <a href="/2" class="btn btn-primary">Ar</a>
            <%} else{ %> <a href="/1" class="btn btn-primary">En</a>%> <% } %>         
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul> -->
            <!-- <span class="navbar-text">
              Navbar text with an inline element
            </span> -->
          </div>
        </div>
      </nav>
</header>